/* BoosterCard */
.boosterContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: 10px;
  z-index: 1000;
  user-select: none;
}

.boostercard {
  bottom: 10px;
  left: 50%;
  margin: 0 15px;
  transform: translateX-(-50%);
  cursor: pointer;
  z-index: 1000;
}

.boosterImage {
  width: 90px;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.boostercard:hover .boosterImage {
  transform: scale(1.1);
}

/* BoosterStatsCard */
.statsContainer {
  position: fixed;
  left: 20px;
  top: 30%;
  opacity: 0;
  transition:
    transform 0.2s ease-out,
    opacity 0.2s ease-out;
  z-index: 1000;
}

.statsContainer.show {
  opacity: 1;
}

.statsContainer.hide {
  opacity: 0;
}

.statsImage {
  width: 100%;
  max-width: 200px;
  height: auto;
  transform: translateX(90%);
  transition: opacity 0.1s ease-in-out;
}

/* Croix pour fermer une carte */
.closeButton {
  position: absolute;
  background-color: black;
  color: #dbf5dc;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  z-index: 1100;
  justify-content: center;
  align-items: center;
}

.closeButton:hover {
  background-color: red;
}