/* Conteneur principal des cartes */
.boosterContainer {
  display: flex; /* Aligne les cartes horizontalement */
  justify-content: center; /* Centre les cartes */
  align-items: flex-end; /* Positionne les cartes en bas */
  bottom: 10px; /* Place les cartes en bas de la page */
  z-index: 1000;
}

.boostercard {
  bottom: 10px; /* Ajustez la marge en bas */
  left: 50%; /* Place le centre du conteneur au milieu */
  margin: 0 15px; /* Espace entre les cartes */
  transform: translateX-(-50%); /* Décale de la moitié de la largeur pour un vrai centrage */
  cursor: pointer;
  z-index: 1000; /* Assurez-vous que le composant est au-dessus d'autres éléments */
}

.boosterImage {
  width: 90px;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.boostercard:hover .boosterImage {
  transform: scale(1.1); /* Effet d'agrandissement au survol */
}

.statsContainer {
    position: fixed;
    left: 20px; /* Distance du bord gauche */
    top: 50%; /* Centrage vertical */
    transform: translateY(-50%); /* Ajuste le centrage */
    z-index: 1000; /* Au-dessus des autres éléments */
  }
  
.statsImage {
    width: 100%;
    max-width: 200px;
    height: auto;
    transform: translateX(90%); /* Ajuste le centrage */
    transition: opacity 0.2s ease-in-out;
}