.container {
    background-color: var(--background-200);
    margin: var(--spacing-l);
    padding: var(--spacing-m);
    border-radius: var(--border-radius-m);
    box-shadow: 0 8px 1px -4px var(--shadow-800);
    border: var(--border-s) solid var(--background-300);
}

.container h2 {
    font-size: 2.5em;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: var(--spacing-m);
}