@font-face {
    font-family: 'EnterCommand';
    src: url('EnterCommand.woff2') format('woff2'),
        url('EnterCommand.woff') format('woff'),
        url('EnterCommand.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EnterCommand';
    src: url('EnterCommand-Italic.woff2') format('woff2'),
        url('EnterCommand-Italic.woff') format('woff'),
        url('EnterCommand-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EnterCommand';
    src: url('EnterCommand-Bold.woff2') format('woff2'),
        url('EnterCommand-Bold.woff') format('woff'),
        url('EnterCommand-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

